.root {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.image {
  position: absolute;
  z-index: 0;
  inset: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.label {
  position: relative;
  z-index: 1;
}
